body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}

button {
  padding: 10px 20px;
}

button.icon {
  display: block;
  margin-left: auto;
  padding: 0 0;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:disabled {
  background-color: #d0212e;
  color: #f7f8fa;
  cursor: not-allowed;
  opacity: 0.5;
}

#name {
  text-align: center;
}

.f-examinee,
.f-timetable {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.f-examinee button,
.f-timetable button {
  margin-left: 10px;
}
